{% extends 'app/base.html' %}
{% load static %}

{% block head %}
<link href={%static "./css/product/product.css" %} rel="stylesheet" text="text/css" >
{% endblock head %}

{% block title %}Product{% endblock title %}

{% block canvas %}
{% include "app/Components/canvas_javascript.html" %}
{% endblock canvas %}

{% block Data_form_import %}

{% if perms.product_borad.can_add %}<a href="{% url 'add_product' %}">Click here to add product</a>{% endif %}

<p>List product: </p>
<div class="grid-container">
  {% for data in Data_form %}
  <div class="product_{% cycle 'row1' 'row2' 'row3' 'row4' %}">
    <a href="./{{data.product_code}}">
      <img class="product_image" src="{{data.Product_image.url}}"></img>
    </a>
    <p>{{data.product_name}}</p>
  </div>
  {% endfor %}
</div>

{% endblock Data_form_import %}