{% extends 'app/base.html' %}
{% load static %}

{% block title %} {{product.product_name}} {% endblock title %}

{% block head %}
<link href={%static "./css/product/product_delta.css" %} rel="stylesheet" text="text/css" >
{% endblock head %}

{% block canvas %}
{% include "app/Components/canvas_javascript.html" %}
{% endblock canvas %}

{% block Data_form_import %}
<div>
    <img class="product-image" src="{{Data_form.product_image.0.Product_image.url}}"></img>
</div>
<a> {{Data_form.product.Product_delta}} </a>

{% for command in Data_form.board %}
<div class="product-borad">
    {% if command.username != None %}
    <a>User: </a>
    <div class="username">
        <a>{{command.username}}</a>
    </div>
    </br>
    <a>Command: </a>
    <div class="command">
        <a>{{command.command}}</a>
    </div>
    {% endif %}
</div>
{% endfor %}
<div class="command_form">
    <form action="./{{Data_form.board.0.product_code.product_code}}" method="post">{% csrf_token %}
        <input type="text" name="command"></input>
        <input type="submit" value="submit"></input>
    </form>
</div>
{% endblock Data_form_import %}

