:root
{
    --img_size: 300px;/*size of top image -> #IMGarray*/
}

#word
{
    display: block;
    position: absolute;
    height: 700px;
    color: brown;
}

#e
{
    background-color: aqua;
    min-height: 400px;
    height: 100%;
    width: 200;
}

html, body, .container
{
    background-color: rgb(228, 225, 225);
    height: auto;
    min-height: 100%;
}

#IMGarray
{
    position:relative;
    margin:0 auto;
    height: var(--img_size);
    width: 100%;
}

#IMGarray img
{
    /* max-width: 100%;
    max-height: 100%; */
    height: var(--img_size);
    width: 100%;
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#IMGarray img.transparent
{
    opacity: 0;
}

#GUI_window .canvas_test
{
    background-color: blue;
}