.creed  
{
    position: relative;
    width: 150px;
    display: block;
    margin: auto;
    padding-top: 17%;
    color: crimson;
}

.login
{
    position: relative;
    width: 200px;
    display: block;
    margin: auto;
    /* transform: translate(-50%, -50%) */
}