.product-image
{
    position: relative;
    /* width: 300px; */
    height: 500px;
    display: block;
}

.prodcut-borad
{
    position: relative;
    width: 100%;
    display: block;
}

.username
{
    position: relative;
    display: block;
    color: blueviolet;
}

.product_delta
{
    position: relative;
    display: block;
}