{% extends 'app/base.html' %}
{% load static %}

{% block head %}
<link href={%static ".css/product/product.css" %} rel="stylesheet" text="text/css" >
{% endblock head %}
{% block title %}  {{adv_list.0.value}} {% endblock title %}

{% block canvas %}
<script type="text/javascript">
    canvas_main({});
</script>
{% endblock canvas %}

{% block Data_form_import %}
{% for cell in adv_list.1.data_form %}
<div class="product_image">
    {% if cell.product_image.main_image %}
    <a href="/product/{{cell.product_borad.product_code}}">
        <img src="{{cell.product_image.Product_image.url}}"></img>
    </a>
    </br>
    <a>{{cell.product_borad.product_name}}</a>
    {% endif %}
</div>
{% endfor %}
{% endblock Data_form_import %}