<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href={%static "./css/self_intro/self_intro.css" %} rel="stylesheet" text="text/css" >
    <title>履歴書</title>
  </head>
  <body>
    <div class="self_intro"><header>自己紹介</header></div>
    <p class="about_me">About me: </p>
    <div class="self_intro_table">
      <table>
        <tr>
          <td class="column1">Work Experience</td>
          <td class="column2">:</td>
          <td class="column3">MACOHO Ltd.</td>
      </tr>
      </table>
      <table>
        <tr>
          <td class="column1">Name</td>
          <td class="column2">:</td>
          <td class="column3">Ip chak yin</td>
      </tr>
      </table>
      
      <table>
        <tr>
          <td class="column1">From</td>
          <td class="column2">:</td>
          <td class="column3">Hong Kong</td>
      </tr>
      </table>
      
      <table>
        <tr>
          <td class="column1">Hobby</td>
          <td class="column2">:</td>
          <td class="column3">
            Programming
          </br>
            Music
          </br>
          Cooking
          </td>
      </tr>
      </table>
      
      <table>
        <tr>
          <td class="column1">Graduate</td>
          <td class="column2">:</td>
          <td class="column3">National Taiwan University Of Science and Technology</td>
      </tr>
      </table>
      

    </div>
    <form action="{% url 'GUI_test' %}"method="get">
      <input type="submit"value="Get in to GUI page">
    </form>
  </body>
</html>