<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>履歴書</title>
  </head>
  <body>
    <div class='container'>
      <table>
        <tr>
          <th>Name: Ip chak yin </th><th>Sex: Male</th><th><div><img src=''></img></div></th>
        </tr>
      </table>
      <br>
      <p>Brithday: 3th february (Age: 22)</p>
      <p>Address: 新潟県長岡市南七日町31-10ラトゥールサガンA1-4</p>
      <p>Phone number: 08051992571</p>
      <p>Address: 新潟県長岡市南七日町31-10ラトゥールサガンA1-4</p>
      <p>Email Address: hqabcd123@gmail.com</p>
      <p>Address: 新潟県長岡市南七日町31-10ラトゥールサガンA1-4</p>
      <table>
        <tr>
          <th>Year</th><th>Month</th><th>degree</th>
        </tr>
        <tr>
          <td>1997</td><td>02</td><td>eeeee</td>
        </tr>
      </table>

      <br>

    </div>
    <form action="/app/GUI_test/"method="get">
      <input type="submit"value="Get in to GUI page">
    </form>
  </body>
</html>