<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href={%static "./css/styles.css" %} rel="stylesheet" text="text/css" >
    <link href={%static "./css/canvas_styles.css" %} rel="stylesheet" text="text/css" >
    <script type="text/javascript" src={% static "./js/images_process.js" %}></script>
    <script type="text/javascript" src={% static "./js/GUI_test.js" %}></script>
    <meta charset="UTF-8">
    <title>GUI</title>
  </head>
  <body>
    {% comment %} {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav2">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'userpage' %}"> {{request.user}} <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">User login <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a id="nav_Canvas" class="nav-link" href="#">Canvas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li id="nav-item-logout" class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock navbar %} {% endcomment %}
    {% include "app/navbar.html" %}

    <div id="GUI_window_navbar">

      <span class="close">&times;</span>
      <a class="a">hello</a>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tool_bar" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="tool_bar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="line" class="nav-link" href="#">line</a>
            </li>
            <li cla
            <li class="nav-item">
              <a id="circle" class="nav-link" href="#">circle</a>
            </li>
            <li class="nav-item">
              <a id="rectangle" class="nav-link" href="#">rectangle</a>
            </li>
            <li class="nav-item">
              <a id="triangle" class="nav-link" href="#">triangle</a>
            </li>
            <li class="nav-item">
              <a id="delete" class="nav-link" href="#">delete</a>
            </li>
            <li class="nav-item">
              <a id="clear" class="nav-link" href="#">clear</a>
            </li>
            <li class="nav-item">
              <a id="Save" class="nav-link" href="#">Save</a>
            </li>
            
          </ul>
        </div>
      </nav>
      
      <canvas class="canvas_test"></canvas>

    </div>

    <script type="text/javascript">
      canvas_main();
    </script>
    
    
    <div class='container'>
      <div id="IMGarray">
        <img class="bottom" src="/Media/IMG_1018.JPG"></img>
        <img class="top" src="/Media/HSa78ycfqdiVYAcM.jpg"></img>
      </div>

      <br>
      <div id="GUI_window">
        <canvas class="canvas_test"></canvas>
      </div>
      <p>mouse location is: <spam id="spam_mouse_location"></spam></p>

      <script type="text/javascript">
        var canvas = $("#GUI_window .canvas_test");
        var ctx = canvas[0].getContext("2d");
        canvas.attr("width", 1000);
        canvas.attr("height", 1000);
        Draw(canvas, ctx);
      </script>
      
      <script type="text/javascript">
        //console.log("{{Json_img_dir}}")
        var Json_img = {% autoescape off %}{{Json_img_dir}}{% endautoescape %}
        $(document).ready(function ()
        {
          images_loop(Json_img);
        });
      </script>

      <br>
      <br>

      <form id="form1" action="#">
        <input type="text" id="input-message">
        <input type="submit" onclick="Clickbox()" value="input">
        <br>
        <label id="output-message"></label>
      </form>
        <script>Clickbox()</script>
    </div>  
  </body>
</html>