{% extends 'app/base.html' %}
{% comment %} <!DOCTYPE html>
{% load static %}
{% include "app/Components/bootstrap.html" %}
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    {% include "app/Components/canvas_link.html" %}
    <script type="text/javascript" src={% static "./js/images_process.js" %}></script>
    <meta charset="UTF-8">
    <title>GUI</title>
  </head>
  <body>
    {% include "app/Components/navbar.html" %}
    {% include "app/Components/GUI_window_navbar.html" %}

      <script type="text/javascript">
        var data = {% autoescape off %}{{Data_form}}{% endautoescape %};
        console.log("data: " + data["offset"]);
        canvas_main(data);
      </script>
    
    
    <div class='container'>
      <div id="IMGarray">
        <img class="bottom" src="/Media/IMG_1018.JPG"></img>
        <img class="top" src="/Media/HSa78ycfqdiVYAcM.jpg"></img>
      </div>
      <div id="word">
        <p>wqgfhiqoidf</p>
      </div>
      <br>
      <script type="text/javascript">
        //console.log("{{Json_img_dir}}")
        var Json_img = {% autoescape off %}{{data_form}}{% endautoescape %}
        $(document).ready(function ()
        {
          images_loop(Json_img);
        });
      </script>
    </div>
    <div id="e"></div>
  </body>
</html> {% endcomment %}


{% block title %}GUI{% endblock title %}
{% block canvas %}
  <script type="text/javascript">
    var data = {% autoescape off %}{{Data_form}}{% endautoescape %};
    console.log("data: " + data["offset"]);
    canvas_main(data);
  </script>
{% endblock canvas %}
{% block image_feedout %}
  <div class='container'>
    <div id="IMGarray">
      <img class="bottom" src="/Media/IMG_1018.JPG"></img>
      <img class="top" src="/Media/HSa78ycfqdiVYAcM.jpg"></img>
    </div>
    <div id="word">
      <p>wqgfhiqoidf</p>
    </div>
    <br>
    <script type="text/javascript">
      //console.log("{{Json_img_dir}}")
      var Json_img = {% autoescape off %}{{data_form}}{% endautoescape %}
      $(document).ready(function ()
      {
        images_loop(Json_img);
      });
    </script>
  </div>
{% endblock image_feedout %}

{% block Data_form_import %}
  <div>
    <p>recommand product</p>
    <img></img>
  </div>
{% endblock Data_form_import %}