{% extends 'app/base.html' %}
{% load static %}
{% comment %} <!DOCTYPE html>
{% load static %}
{% include "app/Components/bootstrap.html" %}
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    {% include "app/Components/canvas_link.html" %}
    <script type="text/javascript" src={% static "./js/images_process.js" %}></script>
    <meta charset="UTF-8">
    <title>GUI</title>
  </head>
  <body>
    {% include "app/Components/navbar.html" %}
    {% include "app/Components/GUI_window_navbar.html" %}

      <script type="text/javascript">
        var data = {% autoescape off %}{{Data_form}}{% endautoescape %};
        console.log("data: " + data["offset"]);
        canvas_main(data);
      </script>
    
    
    <div class='container'>
      <div id="IMGarray">
        <img class="bottom" src="/Media/IMG_1018.JPG"></img>
        <img class="top" src="/Media/HSa78ycfqdiVYAcM.jpg"></img>
      </div>
      <div id="word">
        <p>wqgfhiqoidf</p>
      </div>
      <br>
      <script type="text/javascript">
        //console.log("{{Json_img_dir}}")
        var Json_img = {% autoescape off %}{{data_form}}{% endautoescape %}
        $(document).ready(function ()
        {
          images_loop(Json_img);
        });
      </script>
    </div>
    <div id="e"></div>
  </body>
</html> {% endcomment %}


{% block title %}GUI{% endblock title %}
{% block canvas %}
  <script type="text/javascript">
    var data = {% autoescape off %}{{Data_form}}{% endautoescape %};
    console.log("data: " + data["offset"]);
    canvas_main(data);
  </script>
{% endblock canvas %}

{% block advertise %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for cell in adv %}
      {% if forloop.first %}
      <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
      {% else %}
      <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
      {% endif %}
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for cell in adv %}
      {% if forloop.first %}
        <div class="item active">
          <img src="{{cell.adv_image.url}}" alt="{{cell.head}}"></img>
        </div>
    </form>
      {% else %}
        <div class="item">
          <img src="{{cell.adv_image.url}}" alt="{{cell.head}}"></img>
        </div>
    </form>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
  <script type="text/javascript" src={% static "./js/slider_ajax.js" %}></script>
</div>

{% endblock advertise %}

{% block image_feedout %}
  <div class='container'>
    <div id="IMGarray">
      <img class="bottom" src="/Media/IMG_1018.JPG"></img>
      <img class="top" src="/Media/HSa78ycfqdiVYAcM.jpg"></img>
    </div>
    <br>
    <script type="text/javascript">
      //console.log("{{Json_img_dir}}")
      var Json_img = {% autoescape off %}{{data_form}}{% endautoescape %}
      $(document).ready(function ()
      {
        images_loop(Json_img);
      });
    </script>
  </div>
{% endblock image_feedout %}

{% block Data_form_import %}
  <div>
    <p>recommand product</p>
    <img></img>
  </div>
{% endblock Data_form_import %}