<!DOCTYPE html>
{% load static %}
{% include "app/Components/bootstrap.html" %}
<html lang="en">
  <head>
    {% include "app/Components/canvas_link.html" %}
    <link href={%static "./css/login.css" %} rel="stylesheet" text="text/css" >
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
  {% include "app/Components/navbar.html" %}
  {% include "app/Components/GUI_window_navbar.html" %}
  
    <div class='login'>
      <form action="{% url 'login' %}"method="post">{% csrf_token %}
        {% if request.user.is_authenticated %}
          <p>{{request.user}}: you already login</p>
        {% endif %}
        <label for="username">username: </label>
        <input id="username" type="text" name="username" value="">
        <br/>
        <label for="password">password: </label>
        <input id="password" type="password" name="password" value="">
        <br/>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}" />
        <br/>
        <a href="{% url 'register' %}" method="post">Register</a>
      </form>
    </div>
    {% include "app/Components/canvas_javascript.html" %}
  </body>
</html>