<!DOCTYPE html>
{% load static %}
{% include "app/Components/bootstrap.html" %}
<html lang="en">
  <head>
    {% include "app/Components/canvas_link.html" %}
    <link href={%static "./css/login.css" %} rel="stylesheet" text="text/css" >
    <meta charset="UTF-8">
    <title>Register</title>
  </head>
  <body>
  {% include "app/Components/navbar.html" %}
  
    <div class='login'>
        <h1>Register</h1>
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" href="{% url 'register' %}" value="Submit userdata"></a>
      </form>
    </div>
  </body>
</html>