<!DOCTYPE html>
{% load static %}
{% include "app/bootstrap.html" %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    {% include "app/navbar.html" %}
    <div>
      {% for data in Data_form %}
        <form action=" {%url 'GUI_test'%} " method="post" id="form">{% csrf_token %}
          <a>Saved canvas: </a><a href="JavaScript:;" onclick="document.getElementById('form').submit();">{{data.Save_code}}</a>
          <input type="hidden" name="save_code" value="{{data.Save_code}}"/>
          <br/>
          <div><img src="{{data.saved_image.url}}"></img></div>
        </form>
      {% endfor %}
    </div>
  </body>
</html>