
{% extends 'app/base.html' %}
{% load static %}

{% block head %}
<link href={%static "./css/product/product.css" %} rel="stylesheet" text="text/css" >
{% endblock head %}

{% block title %} {{user.username}} {% endblock title %}

{% block canvas %}
{% include "app/Components/canvas_javascript.html" %}
{% endblock canvas %}

{% block Data_form_import %}
<div class="profile_image">
    <img src="{{user.profile_image.url}}"></img>
</div>
<a href="/userpage_canvas/">{{user.username}}: canvas</a>
<div class="user-History">
    <a>History</a>
    </br>
    {% for cell in Data_form %}
    <a>Click time: {{cell.history.click_date}} </a>
    <a href="/product/{{cell.history.foodprint.product_code}}"> {{cell.history.foodprint.product_name}} </a>
    </br>
    {%endfor%}
</div>
{% endblock Data_form_import %}