<!DOCTYPE html>
{% load static %}
{% include "app/Components/bootstrap.html" %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "app/Components/canvas_link.html" %}
  </head>
  <body>
    {% include "app/Components/navbar.html" %}
    {% include "app/Components/GUI_window_navbar.html" %}
    {% if perms.product_borad.can_add %}
    {% endif %}
    <div>
      {% for data in Data_form %}
        <form action=" {%url 'GUI_test'%} " method="post" id="form{{forloop.counter0}}">{% csrf_token %}
          <a>Saved canvas: </a><a href="JavaScript:;" onclick="document.getElementById('form{{forloop.counter0}}').submit();">{{data.Save_code}}</a>
          <input type="hidden" name="save_code" value="{{data.Save_code}}"/>
          <br/>
          <div><img src="{{data.saved_image.url}}"></img></div>
        </form>
      {% endfor %}
    </div>
    {% include "app/Components/canvas_javascript.html" %}
  </body>
</html>